/* Typography */
body {
    font-family: 'Merriweather', serif;
    font-size: small;
    color: #333;
    background-color: #eee;
    width: 90%;
    max-width: 900px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: normal;
}
h1 + h2.subscription {
    font-size: small;
    margin-top: -1em;
    color: #888;
    letter-spacing: 0.1em;
}

label:after {
  content: ":";
  margin-right: 1em;
}
input[type=text] {
  background: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 3px;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label:after{
  content: "";
}
input[type=radio] + label{
  cursor: pointer;
}
input[type=radio] + label:before{
  content: "\f10c";
  margin-right: 0.5em;
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type=radio]:checked + label:before{
  content: "\f192";
}

#text-width {
  text-align: right;
  width: 5em;
}

#highlight ul,
#substitution ul{
  list-style: none;
  padding: 0;
}
#highlight button,
#substitution button{
  border: none;
  cursor: pointer;
  font-size: large;
  background: none;
}
.highlight-var,
.substitution-var {
  margin: 0 0 0.5em 0;
}
.highlight-var span > label,
.substitution-var span > label {
  display: none;
}
.highlight-var span > div,
.substitution-var span > div {
  display: inline-block;
  margin-right: 0.7em;
}
.highlight-pattern,
.substitution-pattern{
  width: 20em;
}
.highlight-fcolor,
.highlight-bcolor{
  width: 8em;
}
.substitution-num:after {
  content: " match.";
  word-wrap: nowrap;
}
.highlight-num:after {
  content: " match.";
  word-wrap: nowrap;
}

#textarea {
  resize: vertical;
  width: 100%;
  height: 30%;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 3px;
}
#viewer {
  background-color: #fff;
  width: 100%;
  min-height: 500px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 3px;
  letter-spacing: 0.2em;
  font-family: monospace;
  font-size: large;
  overflow: scroll;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  #fork-me-on-github, #textarea, #controller button {
    display: none;
  }
  #viewer {
    font-size: small;
    border: none;
    overflow: hidden;
  }
}
